{% extends 'layoutForm.twig' %}
{% block title %}
  <div class="header-irac">
    <a  href="#!" class="active">Nueva Asignacion</a>
    <a href="/SIA/juridico/turnos/documentos/{{ id }}">Anexar Documentos</a>
    <a href="/SIA/juridico/turnos/documentos/send/{{ id }}">Historial</a>
  </div>
{% endblock %}

{% block form %}

    <form id="create_turno"   data-ruta="turnos" method="POST">
      <input type="hidden" value="{{ id }}" id="idVolante" name="idVolante">
      <div class="form-group">
        <label>Enviar A: </label>
        <select name="idUsrReceptor" class="form-control" required>
          <option value="">Seleccione una Opcion</option>
          {% for persona in personas %}
            <option value="{{ persona.idPuestoJuridico }}">
              {{ persona.saludo }} {{ persona.nombre }} {{ persona.paterno }} {{ persona.materno }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label>Prioridad</label>
        <select class="form-control" name="idTipoPrioridad" required>
          <option value="">Seleccione una Opcion</option>
          <option value="NORMAL">Normal</option>
          <option value="URGENTE">Urgente</option>
        </select>
      </div>

      <div class="form-group">
          <label>Comentario</label>
          <textarea placeholder="Comentario" class="form-control" name="comentario"></textarea>
      </div>
       <div class="form-group send">
            <input class="btn btn-primary btn-sm" type="submit" value="Guardar"/>
            <button class="btn btn-danger btn-sm" id="cancelar">Cancelar</button>
      </div>

    </form>
   {% include 'errors.twig' %}
{% endblock %}
