{% extends 'layoutTable.twig' %}
{% block order %}
    Lista de Documentos Turnados
{% endblock %}


{% block table %}
    <table class="table table-hover " id="main-table-turnados" data-ruta="Irac">
        <thead>
        <th class="hidden">id</th>
        <th>Documento</th>
        <th>Remitente</th>
        <th>Fecha Turnado</th>
        <th>Prioridad</th>
        <th>Comentario</th>
        </thead>
        {% for turno in turnos %}
            <tr data-ruta="Irac">

                <td class="hidden">{{ turno.idTurnadoJuridico }}</td>
                <td>{{ turno.documento }}</td>
                <td>{{ turno.saludo }} {{ u.nombre }} {{ turno.paterno }} {{ turno.materno }} </td>
                <td>{{ turno.fAlta }}</td>
                <td>{{ turno.idTipoPrioridad }}</td>
                <td>{{ turno.comentario }}</td>
               


            </tr>
        {% endfor %}
    </table>
{% endblock %}